QMenuBar,QLabel,QTreeView,QDialog,QPushButton,QLineEdit,QMenu{background-color: #474747; color: #c0392b;}
QTextEdit {background-color: #474747;color: #ecf0f1;}
QToolBar {border: none;background-color: #c0392b;}
QMenu {border: none;}
QLineEdit {border: 1px solid #c0392b;}
