QMenuBar, QLabel, QTreeView, QDialog, QPushButton, QLineEdit, QMenu {
    background-color: #474747;
    color: #16a085;
}

QTextEdit {
    background-color: #474747;
    color: #ecf0f1;
}

QToolBar {
    background-color: #16a085;
}

QLineEdit {
    border: 1px solid #16a085;
}
