QMenuBar, QLabel, QTreeView, QDialog, QPushButton, QLineEdit, QMenu {
    background-color: #474747;
    color: #2ecc71;
}

QTextEdit {
    background-color: #474747;
    color: #ecf0f1;
}

QToolBar {
    background-color: #2ecc71;
}

QLineEdit {
    border: 1px solid #2ecc71;
}
